/* Etc
*/


.weirdText {
    color: rgb(0, 0, 0);

    font-size: 3em;

    -webkit-text-fill-color: var(--color-dark-yellow);
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: var(--color-primary-max);
}

.highlight {
    color: var(--color-highlight);
}

body,
html,
div#root,
div.App {
    color: var(--color-text);
    background-color: var(--color-secondary);
    min-height: 100vh;
}

h2 {
    padding: 0;
    margin: 0;
}

a:link {
    color: var(--color-text-a);
}

a:visited {
    color: var(--color-text-a-visited);
}

address {
    font-style: normal;
}

.App {
    display: flex;

    flex-direction: column;
}

/* Header
*/

header {
    padding: 0 100px 0px 100px;
    text-align: left;
}

/* Page
*/

div#page {
    display: flex;
    flex-grow: 1;

    padding: 5px 100px 0px 100px;

    flex-direction: column;
}

div#page>* {
    color: var(--color-primary);
}

div#top {
    display: flex;

    flex-direction: row;
}

div#left {
    max-width: 80%;
    width: 65%;
    margin-right: 5%;
}

div#left>span>button {
    margin-top: 10px;
    padding: 5px 10px 5px 10px;

    border: var(--border);
    border-radius: var(--border-radius);

    background-color: var(--color-dark-yellow);
    color: var(--color-text);

    cursor: pointer;
}

div#blogList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.entry {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 10px;

    min-width: 400px;
    word-wrap: break-word;

    padding: 15px 20px 20px 20px;

    min-height: 50px;
    max-height: 500px;

    border: var(--border-entry);
    border-radius: var(--border-radius);

    color: var(--color-text);
    background-color: var(--bg-entry);
}

div.entry > div > h3 {
    margin: 0 10px 10px 0;

    padding: 0 0px 5px 0;
    border-bottom: 1px var(--color-text) solid;
}

div.entry > div {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

div.entry > div > button {
    min-width: fit-content;
    height: min-content;

    padding: 8px 10px 6px 10px;
    margin:  0px 0 10px 0;
    border: 0;
    border-bottom: 1px tomato solid;
    
    cursor: pointer;

    color: tomato;
    background-color: rgba(255, 99, 71, 0.1);

    border-radius: var(--border-radius);
}

div.entry > span {
    overflow: scroll;
    overflow-x: hidden;

    white-space: pre-wrap;

    padding-right: 5px;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: white;
}

div#right {

    min-width: 25%;

    height: fit-content;
    min-height: 125px;

    flex-wrap: 1;

    padding-bottom: 10px;

    border: var(--border);
    border-radius: var(--border-radius);

    background-color: var(--color-darker-yellow);
}

div#right>div {
    text-align: center;
}



/* Footer
*/

footer {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;

    padding: 60px 50px 20px 50px;

    min-height: 120px;

    background-image: linear-gradient(var(--color-secondary), var(--color-footer), var(--color-footer));
}

footer>div {
    display: flex;
    flex-direction: column;

    border: var(--border);
    border-radius: var(--border-radius);

    background-color: var(--color-darker-yellow);

    padding: 10px 20px 15px 20px;
    margin: 5px;

    width: fit-content;
    min-width: 180px;
    max-width: 500px;

    height: 80px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pinnedTweet {
    padding: 20px;
    justify-content: start;
}

.hidden {
    display: none;
}

.animate {
    animation-name: buttonAnimation;
    animation-duration: 4s;
}

@keyframes buttonAnimation {
    from {
        opacity: 0;
        background-color: var(--color-darker-yellow);
    }

    to {
        opacity: 1;
        background-color: var(--color-dark-yellow);
    }

}