:root {
    --color-primary: rgb(200, 200, 0);
    --color-primary-middle: rgb(235, 235, 0);
    --color-primary-max: yellow;
    --color-primary-transparent: rgba(200, 200, 0, 0.75);

    --color-secondary: rgb(15, 15, 20);
    --color-secondary-max: black;
    --color-dark-yellow: rgb(50, 50, 0);
    --color-darker-yellow: rgb(40, 40, 0);

    --color-footer: black;

    --bg-entry: rgb(40, 40, 40);

    --color-text: rgb(255, 255, 255);
    --color-text-a: yellow;
    --color-text-a-visited: rgb(200, 200, 0);
    --color-highlight: rgb(220, 220, 220);

    --border: 3px var(--color-primary) solid;
    --border-entry: 3px var(--color-text) solid;
    --border-radius: 5px;
}

/* Etc
*/


.weirdText {
    color: rgb(0, 0, 0);

    font-size: 3em;

    -webkit-text-fill-color: var(--color-dark-yellow);
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: var(--color-primary-max);
}

.highlight {
    color: var(--color-highlight);
}

body,
html,
div#root,
div.App {
    color: var(--color-text);
    background-color: var(--color-secondary);
    min-height: 100vh;
}

h2 {
    padding: 0;
    margin: 0;
}

a:link {
    color: var(--color-text-a);
}

a:visited {
    color: var(--color-text-a-visited);
}

address {
    font-style: normal;
}

.App {
    display: flex;

    flex-direction: column;
}

/* Header
*/

header {
    padding: 0 100px 0px 100px;
    text-align: left;
}

/* Page
*/

div#page {
    display: flex;
    flex-grow: 1;

    padding: 5px 100px 0px 100px;

    flex-direction: column;
}

div#page>* {
    color: var(--color-primary);
}

div#top {
    display: flex;

    flex-direction: row;
}

div#left {
    max-width: 80%;
    width: 65%;
    margin-right: 5%;
}

div#left>span>button {
    margin-top: 10px;
    padding: 5px 10px 5px 10px;

    border: var(--border);
    border-radius: var(--border-radius);

    background-color: var(--color-dark-yellow);
    color: var(--color-text);

    cursor: pointer;
}

div#blogList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.entry {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 10px;

    width: fit-content;
    padding: 15px 20px 20px 20px;

    min-height: 50px;
    max-height: 500px;

    border: var(--border-entry);
    border-radius: var(--border-radius);

    color: var(--color-text);
    background-color: var(--bg-entry);
}

div.entry>h3 {
    margin: 0 0 5px 0;
}

div#right {

    min-width: 25%;

    height: fit-content;
    min-height: 125px;

    flex-wrap: 1;

    padding-bottom: 10px;

    border: var(--border);
    border-radius: var(--border-radius);

    background-color: var(--color-darker-yellow);
}

div#right>div {
    text-align: center;
}



/* Footer
*/

footer {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;

    padding: 60px 50px 20px 50px;

    min-height: 120px;

    background-image: linear-gradient(var(--color-secondary), var(--color-footer), var(--color-footer));
}

footer>div {
    display: flex;
    flex-direction: column;

    border: var(--border);
    border-radius: var(--border-radius);

    background-color: var(--color-darker-yellow);

    padding: 10px 20px 15px 20px;
    margin: 5px;

    width: fit-content;
    min-width: 180px;
    max-width: 500px;

    height: 80px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pinnedTweet {
    padding: 20px;
    justify-content: start;
}

.hidden {
    display: none;
}

.animate {
    animation-name: buttonAnimation;
    animation-duration: 4s;
}

@keyframes buttonAnimation {
    from {
        opacity: 0;
        background-color: var(--color-darker-yellow);
    }

    to {
        opacity: 1;
        background-color: var(--color-dark-yellow);
    }

}