.white {
    color: white;
}

.red {
    color: red;
}

.container {
    width: 75%;

    padding: 0 0 10px 10px;
    margin: 5px 0px 5px 0px;
    border: 1px solid yellow;

    background-color: rgba(255, 255, 0, .05);
    border-radius: 5px;
}

.trackTitle {
    padding: 0;
    margin-bottom: 2px;
}

.date {
    padding: 0;
    margin-top: 4px;
}

.send {
    font-size: small;
    font-weight: 600;

    cursor: pointer;
}

.playlist {
    padding: 15px 0 15px 10px;
}

.return {
    color: rgb(245, 245, 245);
    cursor: pointer;
}