:root {
    --color-primary: rgb(200, 200, 0);
    --color-primary-middle: rgb(235, 235, 0);
    --color-primary-max: yellow;
    --color-primary-transparent: rgba(200, 200, 0, 0.75);

    --color-secondary: rgb(15, 15, 20);
    --color-secondary-max: black;
    --color-dark-yellow: rgb(50, 50, 0);
    --color-darker-yellow: rgb(40, 40, 0);

    --color-footer: black;

    --bg-entry: rgb(40, 40, 40);

    --color-text: rgb(255, 255, 255);
    --color-text-a: yellow;
    --color-text-a-visited: rgb(200, 200, 0);
    --color-highlight: rgb(220, 220, 220);

    --border: 3px var(--color-primary) solid;
    --border-entry: 3px var(--color-text) solid;
    --border-radius: 5px;
}